body{
  background-color: #aed5fc
}
h1{
  font-weight: bold;
}
#wrapper {
  margin-right: auto;
  margin-left: auto;
}
#stylists {
  float: left;
  width: 48%;
}
#clients {
  float: right;
  width: 48%;
  background-color: #aeaefc;
  border-radius: 10px;
}
.header {
  text-align: center;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.options {
  display: inline;
}

.options_bar{
  float: left;
  width: 100%;
}
